<div class=entryChooser>
    <div class="entryChooser__moveInput" data-dojo-attach-point="moveInput" style="display: none">
        <div class="btn-group entryCooser__btn-group" data-toggle="buttons">
            <label for="${id}-searchOption" class="btn btn-default active" data-dojo-attach-point="__searchOptionLabel"
                   data-dojo-attach-event="click:searchOption"><span
                    data-dojo-attach-point="nls,__searchOptionLabelNLS">searchLabel</span>
                <input type="radio" name="optionType" id="${id}-searchOption" checked autocomplete="off"/>
            </label>
            <label for="${id}-createOption" class="btn btn-default" data-dojo-attach-point="__createOptionLabel"
                   data-dojo-attach-event="click:createOption"><span
                    data-dojo-attach-point="nls,__createOptionLabelNLS">createLabel</span>
                <input type="radio" name="optionType" id="${id}-createOption" autocomplete="off"/>
            </label>
        </div>
    </div>
    <div data-dojo-attach-point="searchNode" style="display:block">
    </div>
    <div data-dojo-attach-point="createNode" style="display: none">
        <div class="entryChooser__levelEditor" data-dojo-attach-point="levelEditorNode"></div>
        <div data-dojo-attach-point="entityTypeNode"></div>
        <div data-dojo-attach-point="editorNode"></div>
    </div>
</div>
