/* -- RDForms -- */
.rdformsPresenter.compact .rdformsField {
    margin-left: 0px;
    padding-left: 0px;
}

.rdformsPresenter.compact .rdformsTopLevel>.rdformsLabel {
    font-weight: bold;
}

.rdformsPresenter .rdformsUrl {
    color: #1c7cd1;
}

.rdformsEditor .rdformsExternalLink,
.rdformsPresenter .rdformsExternalLink {
    margin-left: 5px;
}

    /* -- RDFormsDialog --*/

.RDFormsDialog footer .alert {
    margin: 0px 2em 0px 1em;
    padding: 6px 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.RDFormsDialog footer .alert button {
    margin-left: 15px;
}

.RDFormsDialog .rforms .rformsField.errorReport,
.RDFormsDialog .rforms .rformsGroup.errorReport {
    border-left: 2px solid red;
}

.RDFormsDialog .spaSideDialogHeader>* {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.RDFormsDialog .spaSideDialogHeader.multiline>.headerExtention {
    display: block;
    margin-left: 15px;
}

.RDFormsDialog .spaSideDialogHeader .cardinality {
    margin-bottom: 0px;
    width: auto;
}

.RDFormsDialog .spaSideDialogHeader {
    box-sizing: border-box;
    padding-right: 50px;
    width: 100%;
    overflow: hidden;
}

/*------- Choosers --------*/

.spaSideDialogHeader>header>.input-group.search {
    padding-top: 9px;
    padding-right: 15px;
}

.RDFormsChooserDialog .entryResults .list-group-item {
    cursor: pointer;
}

.geonamesChooser {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.geonamesChooser .childGeonames {
    position: absolute;
    top: 217px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.geonamesChooser .childGeonames .panel {
    margin-bottom: 0px;
    height: 100%;
    position: relative;
}

.geonamesChooser .childGeonames .panel .list-group {
    position: absolute;
    top: 41px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.geonamesChooser .selection {
    position: relative;
}
.geonamesChooser .selection button {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.geoChooser.presenterMode .form-group input{
    display: none;
}

.geoChooser.presenterMode .form-group .rdformsLabel:after {
    content: ": ";
}

.geoChooser.presenterMode .form-group.latitude .present:after {
    content: "° φ";
}

.geoChooser.presenterMode .form-group.longitude .present:after {
    content: "° λ";
}

.geoChooser {
    position: relative;
    /* height: 280px;  to avoid overlap on below components*/
}

.geoChooser.presenterMode {
    height: 180px;
}

.geoChooser>div:first-child {
    width: 48%;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.geoChooser>div:last-child {
    position: absolute;
    width: 48%;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.geoChooser .mapView {
    height: 280px;
    margin:auto;
}

.geoChooser.presenterMode .mapView {
    height: 180px;
}

.entryChooser{

}

.entryChooser__moveInput {
    padding-top: 10px;
    padding-bottom: 10px
}

.entryCooser__btn-group {
    padding-left:10px
}

.entryChooser__input-group {
    padding-bottom: 10px;
}

.entryChooser__levelEditor {
    padding-right: 200px
}

.rdformsTopLevel>.rdformsLabelRow>.rdformsMandatoryMark {
    display: inline;
}

.rdformsMandatoryMark {
    display: none;
}

.mandatoryMark {
    color: red;
    padding-right: 4px;
    font-weight: bold;
}

.escoSkosChooser__views .btn {
    margin-right: 5px;
}

.escoSkosChooser__terminologyFirstAlert {
    width: 47%;
    margin: 15px;
    padding: 10px;
}

.escoSkosChooser__viewer .escoSkosChooser__treeView {
    margin-top: 20px;
}
