<div class="row">
    <div class="selector-panel">
        <div class="escoSkosChooser col-md-6">
            <select class="form-control" data-dojo-attach-point="__skosConceptSchemaList"
                    data-dojo-attach-event="onchange:selectSkosChooser"></select>
        </div>
        <div class="escoSkosChooser__views col-md-6 pull-right">
            <a class="btn btn-default pull-right" href="#" aria-label="Hierarchy"
               data-dojo-attach-point="__treeViewer"
               data-dojo-attach-event="click:selectSkosChooserView"
               data-view="tree">
                <i class="fa fa-sitemap" aria-hidden="true"> </i>
            </a>
            <a class="btn btn-default pull-right active" href="#" aria-label="List"
               data-dojo-attach-point="__listViewer"
               data-dojo-attach-event="click:selectSkosChooserView"
               data-view="list">
                <i class="fa fa-list" aria-hidden="true"> </i>
            </a>
        </div>
        <div class="escoSkosChooser__terminologyFirstAlert col-md-6 alert alert-warning small"
             style="display:none" data-dojo-attach-point="nls,__terminologyFirstAlert">
            selectTerminologyFirst
        </div>
    </div>
    <div class="col-md-12 escoSkosChooser__viewer" data-dojo-attach-point="__viewer">
        <div data-dojo-attach-point="__listView"></div>
        <div class="escoSkosChooser__treeView" data-dojo-attach-point="__treeView"></div>
    </div>
</div>
