<div class="row">
    <div class="col-md-12">
        <p data-dojo-attach-point="exportText"></p>
    </div>
    <div class="col-md-12">
        <h5 data-dojo-attach-point="exportFormatSelect"></h5>
        <div class="btn-group btn-group-justified download-formats">
            <a class="btn btn-default active" data-dojo-attach-event="click:rdfxmlClick">
                <span>RDF/XML</span>
            </a>
            <a class="btn btn-default" data-dojo-attach-event="click:turtleClick">
                <span>Turtle</span>
            </a>
            <a class="btn btn-default" data-dojo-attach-event="click:ntriplesClick">
                <span>N-Triples</span>
            </a>
            <a class="btn btn-default" data-dojo-attach-event="click:jsonldClick">
                <span>JSON-LD</span>
            </a>
        </div>
    </div>
    <div class="col-md-12">
        <h5 data-dojo-attach-point="exportURLLabel"></h5>
        <div class="exportURLWrap">
            <input type="text" class="form-control" onClick="this.select();"
                   data-dojo-attach-point="exportUrl"
                   readonly="readonly"
                   aria-describedby="${id}-format">
        </div>
    </div>
    <div class="col-md-12 downloadColumn">
        <button type="button" class="downloadButton btn btn-primary btn-block"
                data-dojo-attach-event="click: downloadClick"
                data-dojo-attach-point="downloadButton"></button>
    </div>
</div>