<div class="row ${bid}">
    <div class="col-md-offset-3 col-xs-offset-1 col-md-6 col-xs-10 text-center">
        <i id="${id}-placeholder" aria-hidden="true" data-dojo-attach-point="__placeholderImage"> </i>
        <label class="${bid}__placeholderText center-block" for="${id}-placeholder" data-dojo-attach-point="__placeholdertxt"></label>
    </div>
    <div class="col-md-offset-3 col-xs-offset-1 col-md-6 col-xs-10 text-center ${bid}__placeholderButton" data-dojo-attach-point="__placeholderButton" style="display: none;">
        <button type="button" class="btn btn-raised btn-success" data-dojo-attach-event="onclick:createAction">
            <span class="fa fa-plus ${bid}__createButtonIcon"></span><span data-dojo-attach-point="__placeholderCButton"></span></button>
    </div>
</div>