<div class="${bid}">
    <img data-dojo-attach-point='__imgContent' class="img-fluid ${bid}__image"
         style="display: none;">
    <div data-dojo-attach-point="__message" class="alert ${bid}__message" style="display:none">
        <i class="fa fa-3x fa-picture-o ${bid}__icon" aria-hidden="true"></i>
        <span data-dojo-attach-point="__messageText" class="${bid}__messageText"></span>
        <i class="fa fa-spinner fa-spin ${bid}__icon" aria-hidden="true"
           data-dojo-attach-point="__spinner" style="display:none"></i>
    </div>
    <div data-dojo-attach-point="__metadataViewer"></div>
</div>