<div>
  <div class="col0hidden col1hidden col3hidden entryRow" data-dojo-attach-point="rowNode">
    <div class="flex-wrapper col0hidden col1hidden col3hidden">

      <div class="entryRowCol0 vmiddle" data-dojo-attach-point="col0Node">
        <div class="checkbox">
          <label>
                <input type="checkbox" data-dojo-attach-point="checkboxNode">
            </label>
        </div>
      </div>
      <div class="entryRowCol1 vmiddle" data-dojo-attach-point="col1Node"></div>

      <div class="entryName vmiddle" data-dojo-attach-point="col2Node">
        <span data-dojo-attach-point="nameNode"></span>
        <a data-dojo-attach-point="nameNodeLink"></a>
      </div>
    </div>

    <div>
      <div class="entryRowCol3 vmiddle" data-dojo-attach-point="col3Node"></div>
      <div class="entryControls vmiddle" data-dojo-attach-point="buttonsNode"></div>
    </div>

  </div>
</div>
