<div class="entryList searchVisible" >
    <div class="panel panel-default" data-dojo-attach-point="listHeaderS">
        <div class="panel-heading" data-dojo-attach-point="head" style="display: none">
            <div class="row headerinfo alert alert-info" data-dojo-attach-point="headerInfo" style="display: none"><span data-dojo-attach-point="listInfo"></span> </div>
            <div class="row rowOneEntryList" data-dojo-attach-point="headBlock"
                 style="display: none">
                <div data-dojo-attach-point="buttonContainer" style="display: none"
                     class="listButtons pull-right">
                </div>
            </div>
            <div class="searchBlock" style="display: none" data-dojo-attach-point="searchBlock">
                <div class="col-md-8 col-sm-6">
                    <div data-dojo-attach-point="searchBlockInner"
                         class="form-group has-feedback searchBlockInner">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   data-dojo-attach-point="searchTermNode">
                            <span class="input-group-btn">
                                <button class="btn btn-default searchButton" type="button">
                                    <span class="fa fa-search" aria-hidden="true">
                                    </span>
                                </button>
                            </span>
                        </div><!-- /input-group -->
                        <span class="fa form-control-feedback"
                              data-dojo-attach-point="searchIconFeedback"
                              style="right: 40px;z-index: 3"></span>
                        <span class="help-block escoList--Help"
                              data-dojo-attach-point="tooShortSearch"
                              style="display:none;font-size: 14px"></span>
                        <span class="help-block escoList--Help"
                              data-dojo-attach-point="invalidSearch"
                              style="display:none;font-size: 14px"></span>
                    </div>
                </div>
            </div>
            <div class="row lowerBlock" data-dojo-attach-point="lowerBlock">
                <div class="col-xs-12 col-sm-5 escoList__headerContainer"
                     data-dojo-attach-point="headerContainer">
                    <input  type="text" class="form-control" data-dojo-attach-point="typeaheadInput" style="display:none; width: 150%"/>
                    <span data-dojo-attach-point="headerContainerInner">
                        <button type="button" class="btn btn-link expandButton"
                                data-dojo-attach-point="expandButton" style="display:none">
                            <span data-dojo-attach-point="expandButtonIcon"
                                  class="fa fa-chevron-right" aria-hidden="true"></span>
                        </button>
                        <span data-dojo-attach-point="listHeader"></span>
                    </span>
                </div>
                <div data-dojo-attach-point="resultSizeContainer" class="esco__resultSize"></div>
                <div class="col-xs-12 col-sm-6 pull-right escoList__sortBy" style="padding-right:
                0px;">
                    <span style="display:none;" class="pull-right"
                          data-dojo-attach-point="sortBlock">
                        <span class="listSortLabel"
                              data-dojo-attach-point="sortOptionsLabel"></span>
                        <div class="btn-group " data-toggle="buttons">
                            <label class="btn btn-default"
                                   data-dojo-attach-point="sortOrderTitleNode">
                                <input type="radio" name="${id}_listOrder" autocomplete="off">
                                <span data-dojo-attach-point="sortOrderTitleCheck"></span></label>
                            <label class="btn btn-default active"
                                   data-dojo-attach-point="sortOrderModNode">
                                <input type="radio" name="${id}_listOrder" autocomplete="off"
                                       checked>
                                <span data-dojo-attach-point="sortOrderDateCheck"></span></label>
                        </div>
                    </span>
                </div>
                <div class="col-md-5 escoList__headerContainer escoList__lowerBlockContainer col-sm-7"
                     data-dojo-attach-point="lowerBlockContainer">
                    <div data-dojo-attach-point="massOperationsNode">
                        <div class="col-md-5 checkbox" style="padding: 0px; margin-bottom: 15px">
                            <label data-dojo-attach-point="selectAll">
                                <input type="checkbox" data-dojo-attach-point="selectallCheck">
                                <span class="checkboxLabel" data-dojo-attach-point="selectallLabel"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-raised btn-link" data-dojo-attach-point="btnAll"
                                    style="padding-top: 2px; color: black; display: none"
                                    data-dojo-attach-event="onclick:removeAll">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="entryList regular" data-dojo-attach-point="rowListNode">
            <div data-dojo-attach-point="tableHeading"></div>
        </div>
    </div>
    <div data-dojo-attach-point="__placeholder"
         class="" role="alert"></div>
    <div class="entryPagination small">
        <nav>
            <ul class="pagination">
                <li data-dojo-attach-point="paginationPreviousLi" class="disabled">
                    <a data-dojo-attach-point="paginationPreviousA"
                       data-dojo-attach-event="click:_clickPrevious">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li data-dojo-attach-point="paginationNextLi">
                    <a data-dojo-attach-point="paginationNextA"
                       data-dojo-attach-event="click:_clickNext">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>