<div class="modal fade confirmDialog" tabindex="-1" role="dialog"
     aria-labelledby="ConfirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" data-dojo-attach-point="confirmMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dojo-attach-point="confirmLabelNode"
                        data-dojo-attach-event="onclick:confirm"></button>
                <button type="button" class="btn btn-default" data-dojo-attach-point="rejectLabelNode"
                        data-dojo-attach-event="onclick:reject"></button>
            </div>
        </div>
    </div>
</div>