.spaProgress,
.spaSideDialog {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px
}

.spaSideDialog .navbar,
.spaSideDialog .navbar.navbar-default {
    background-color: #333;
    color: #fff;
}

.spaProgress {
    z-index: 1040;
}

.spaProgressUnderlay,
.spaSideDialogContent,
.spaSideDialogUnderlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.spaProgressContent {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -26px;
    margin-left: -26px;
}

.spaProgressContent div {
    padding: 26px;
    background: white;
    border-radius: 20px;
}

.spaSideDialogContent {
    background: white;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    border: 0;
}

.spaProgressUnderlay,
.spaSideDialogUnderlay {
    left: 0px;
    background: #808080;
    opacity: .5;
    filter: alpha(opacity=50);
}

.spaHeaderDialog .spaSideDialogContent .spaSideDialogBody {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 15px;
}

.spaHeaderDialog .spaSideDialogHeader {
    display: inline-block;
    padding-right: 35px;
}

/* Dialog header and footer position and visibility. */
.spaHeaderDialog.spaHeader .spaSideDialogBody {
    top: 65px;
}

.spaHeaderDialog.spaFooter .spaSideDialogBody {
    bottom: 60px;
}

.spaHeaderDialog .spaSideDialogContent > .navbar {
    border-radius: 0;
}

.spaHeaderDialog .spaSideDialogHeaderNavbar,
.spaHeaderDialog .spaSideDialogFooterNavbar {
    display: none;
}

.spaHeaderDialog.spaHeader .spaSideDialogHeaderNavbar,
.spaHeaderDialog.spaFooter .spaSideDialogFooterNavbar {
    display: block;
}

.spaHeaderDialog.spaFooter .spaSideDialogFooterNavbar {
    position: absolute;
}

.spaHeaderDialog .spaSideDialogHeader > * {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.spaHeaderDialog .spaSideDialogHeader.multilineHeader > .headerExtension {
    display: block; /*Needed?*/
    margin-left: 15px;
    margin-bottom: 5px;
}

.spaHeaderDialog .spaSideDialogHeader .cardinality {
    margin-bottom: 0px;
    width: auto;
}

.spaHeaderDialog .spaSideDialogHeader {
    box-sizing: border-box;
    padding-right: 50px;
    width: 100%;
    overflow: hidden;
}

.spaSideDialogFooter .alert {
    margin: 0px 2em 0px 1em;
    padding: 6px 10px;
}

.spaSideDialogFooter .alert button {
    margin-left: 15px;
}

.spaSideDialogHeaderNavbar .sidebarTitle {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*color: #333 !important;*/
}

.spaSideDialogHeaderNavbar > .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    color: #fff;
    line-height: inherit;
    opacity: 1;
}

.spaSideDialogFooter .btn {
    margin: 0 auto;
    padding: 20px;
}

.spaSideDialogFooter .btn.btn-primary {
    color: #fff !important;
    background-color: #1c7cd1;
}

.spaSideDialogFooter .btn.btn-primary.disabled {
    color: #fff !important;
    background-color: rgba(153, 153, 153, 0.2);
}

.spaSideDialogListFix ul > li {
    margin-left: 2em;
}

.spaSideDialogBody .entryPagination {
    width: 700px;
    left: auto;
}

.spaSideDialogBody .sideDialogSubNav {
    margin-bottom: 10px;
}

.spaSideDialogBody .nav-pills > li > a {
    border-radius: 0;
    cursor: pointer;
    text-transform: uppercase;
}

.spaSideDialogBody .nav-pills > li.active > a {
    background-color: #337ab7;
}

.modal-dialog {
    margin: 120px auto;
}

.confirmDialog .modal-body {
    font-size: 14px;
}

/* Bootsstrap callouts, for some reason not included in the stock version of bootstrap.*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.textScroll {
    white-space: nowrap;
    overflow: auto;
}

.spaSideDialogHeader header {
    overflow-y: hidden;
}

.textTruncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-group label{
  color: #4f4f4f;
  font-weight: bold;
}
