<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="ConfirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" data-dojo-attach-point="confirmMessage">
                <div data-dojo-attach-point="messageNode"></div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                            Browse <input type="file" name="${id}_fileDialog"
                                          data-dojo-attach-point="fileInput">
                        </span>
                    </span>
                    <input type="text" class="form-control"
                           placeholder="Browse and select a file" readonly
                           data-dojo-attach-point="selectedFile">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dojo-attach-point="cancelLabelNode"
                        data-dojo-attach-event="onclick:cancel"></button>
                <button type="button" class="btn btn-primary" data-dojo-attach-point="uploadNode"
                        data-dojo-attach-event="onclick:upload">
                    <i data-dojo-attach-point="spinner" class="fa fa-spinner fa-spin" style="display:none;"></i>
                    <span data-dojo-attach-point="uploadLabelNode"></span>
                </button>
            </div>
        </div>
    </div>
</div>