<div class="spaSideDialog spaHeaderDialog" role="dialog" style="display:none" >
    <div class="spaSideDialogUnderlay" data-dojo-attach-point="underlay"></div>
    <div class="spaSideDialogContent" data-dojo-attach-point="dialogContent">
        <nav class="navbar navbar-default spaSideDialogHeaderNavbar">
            <button type="button" class="close" aria-label="Close" data-dojo-attach-point="close"><span aria-hidden="true">&times;</span></button>
            <div data-dojo-attach-point="headerExtentionNode" class="spaSideDialogHeader textScroll"></div>
        </nav>
        <div class="spaSideDialogBody" data-dojo-attach-point="containerNode"></div>
        <nav class="navbar navbar-default navbar-fixed-bottom spaSideDialogFooterNavbar">
            <div data-dojo-attach-point="footerExtentionNode" class="spaSideDialogFooter">
            </div>
        </nav>
    </div>
</div>