<div class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="ConfirmDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" data-dojo-attach-point="message">
            </div>
            <div class="modal-footer" data-dojo-attach-point="buttonsFooter">
            </div>
        </div>
    </div>
</div>