<div class="spaProgress fuelux" role="dialog" style="display:none" >
    <div class="spaProgressUnderlay" data-dojo-attach-point="underlay"></div>
    <div class="spaProgressContent" data-dojo-attach-point="progress">
    </div>
</div>