<div class="spaSideDialog spaHeaderDialog spaHeader" role="dialog" style="display:none">
    <div class="spaSideDialogUnderlay" data-dojo-attach-point="underlay"></div>
    <div class="spaSideDialogContent" data-dojo-attach-point="dialogContent">
        <nav class="navbar navbar-default spaSideDialogHeaderNavbar">
            <button type="button" class="close" aria-label="Close" data-dojo-attach-point="close">
                <i class="fa fa-times" aria-hidden="true"></i></button>
            <div data-dojo-attach-point="headerNode" class="spaSideDialogHeader">
                <span class="navbar-brand sidebarTitle" data-dojo-attach-point="titleNode"></span>
            </div>
        </nav>
        <div class="spaSideDialogBody">
            <div class="headerExtension" data-dojo-attach-point="headerExtensionNode"></div>
            <div data-dojo-attach-point="containerNode"></div>
            <div class="spaSideDialogErrors">
                <span data-dojo-attach-point="defaultMessage"></span>
                <span class="alert alert-danger pull-right" style="display: none"
                      data-dojo-attach-point="errorMessageAlert" role="alert">
                    <span data-dojo-attach-point="errorMessage"></span>
                    <button type="button" class="close" aria-label="Close"
                            data-dojo-attach-event="onclick: closeErrorMessage">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </span>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed-bottom spaSideDialogFooterNavbar">
            <div data-dojo-attach-point="footerExtensionNode" class="container spaSideDialogFooter">
                <button type="button" class="btn btn-success btn-raised btn-block pull-right"
                        data-dojo-attach-event="onClick: footerButtonClick"
                        data-dojo-attach-point="footerButtonNode">
                    <i data-dojo-attach-point="footerButtonSpinner" class="fa fa-spinner fa-spin"
                       style="display:none;"></i>
                    <span data-dojo-attach-point="footerButtonLabelNode"></span>
                </button>
            </div>
        </nav>
    </div>
</div>