.panel-group .panel__item {
    margin-bottom: 10px;
}

.panel__item .panel-title a {
    color: #fff;
    cursor: pointer;
}

.panel__item .collapsed .fa-chevron-down {
    display: none;
}

.panel__item .collapsed .fa-chevron-right {
    display: inline;
}

.panel__item .fa-chevron-right {
    display: none;
}

.panel__headerDate {
    float:right;
    font-size:12px;
}
