
<div>
<div class="col1hidden col3hidden entryRow" data-dojo-attach-point="rowNode">

    <div class="flex-wrapper">
        <div data-dojo-attach-event="onClick: toggle" class="entryRowCol1 visibilityControl vmiddle disabled" data-dojo-attach-point="publicToggleNode">
            <i data-dojo-attach-point="publicNode" class="fa fa-toggle-on fa-lg" style="display: none"></i>
            <i data-dojo-attach-point="protectedNode" class="fa fa-toggle-on fa-lg fa-rotate-180"></i>
        </div>
        <div class="entryName vmiddle">
            <span data-dojo-attach-point="nameNode"></span>
            <a data-dojo-attach-point="nameNodeLink"></a>
        </div>
    </div>



    <div class="flex-wrapper">
        <div class="entryRowCol3 vmiddle" data-dojo-attach-point="col3Node"></div>
        <div class="entryControls vmiddle" data-dojo-attach-point="buttonsNode"></div>
    </div>

</div>
</div>
