.progress {
    height: 20px;
}

escoProgress__task {
    border-radius: 0;
}

.escoProgress__progressBar {
    aria-valuenow: "40";
    aria-valuemin: "0";
    aria-valuemax: "100"
}

.escoProgress__taskLabel {
    padding-right: 15px;
    vertical-align: top;
    padding-left: 12px;
    color: #333;
}

.escoProgress__taskIndicator {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.escoProgress__mandatorytask {
    margin-top: 5px;
    color: darkred;
}