<form data-dojo-attach-point="progressForm" onsubmit="return false;">
    <div class="progress" data-dojo-attach-point="__progressNode"></div>
    <div>
        <div data-dojo-attach-point="__checkboxNode"></div>
    </div>
</form>