<div class='entryscapeCards'>
    <div class='row'>
        <div class='banner col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12'
             data-dojo-attach-point='bannerNode'></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row" data-dojo-attach-point='mainNode'></div>
        </div>
    </div>
</div>