html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}

.entryscape.spaTwoMenu {
    top: 85px;
}

.contentContainer {
    width: 80%;
}

#viewsNode {
    height: 100%;
    overflow: hidden;
}

#viewsNode {
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

.logo-text {
    text-transform: uppercase;
    font-weight: 500;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    margin-right: 10px;
    margin-top: -3px;
    color: #154862;
}

.logo-text.icon-text img,
.logo-text.full img.es-logo {
    height: 26px;
    margin: -3px 5px 0px 0px;
}

.logo-text.full img {
    height: 50px;
    max-width: 175px;
    /* margin: -3px 5px 0px 0px; */
}

.entryscape-footer {
    padding: 0px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 230px;
    height: 40px;
    font-size: 12px;
}

footer .logo-text {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-right: 10px;
    margin-top: -3px;
    color: #154862;
}

footer .logo-text img {
    height: 16px;
    margin: -3px 0px 0px 0px;
}

footer .logo-text span {
    font-size: 15px;
    color: #154862;
}

.entryscape-footer .btn-link {
    font-size: 12px;
}

.entryscape-footer span.copyright {
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

.entryscape-footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}

.navbar-default {
    background-color: white;
    border-color: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #18adfe;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-default .navbar-toggle {
    background-color: #4bbffe;
    border-color: #4bbffe;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4bbffe;
}

.navbar-default .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777777;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #0193e2;
    outline: none;
}

.navbar-default .navbar-nav > .active > a {
    color: black;
    background-color: #e1e1e1 !important;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #18adfe;
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: white;
        opacity: 1;
        padding: 0px 0px;
        /*-webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;*/
        border: none;
        box-shadow: 0px 1px 2px -1px #999999;
    }

    .navbar-default .navbar-brand {
        font-size: 1.5em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

ul.user-buttons > li > a {
    padding-left: 0px;
    padding-right: 8px;
    vertical-align: middle;
}

ul.user-buttons li a span {
    color: #777;
    vertical-align: middle;
}

ul.user-buttons span > span {
    max-width: 10em;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.user-buttons li a:hover span {
    cursor: pointer;
    color: #555;
}

ul.user-buttons li a span {
    text-transform: none;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
}

ul.user-buttons li a.lang-flags {
    padding: 16px 10px 18px 10px;
    margin-right: 6px;
}

form.navbar-form div {
    margin-top: 2px;
    margin-left: 10px;
}

div.modules .row {
    margin-top: 50px;
}

div.modules a {
    color: #555;
    text-decoration: none;
}

div.modules a:hover {
    color: black;
    cursor: pointer;
}

/*  old layout.css */
.navbar-buttons.nav > li > a {
    padding: 15px 5px;
}

.navbar-buttons.nav > li.loggedIn > a {
    padding: 15px 20px;
}

.navbar-buttons.nav > li.singleOrg > a,
.navbar-buttons.nav > li.multipleOrg > a {
    padding-right: 10px;
    padding-left: 10px;
}

.concepts .main {
    position: absolute;
}

.singleEditor {
    height: 100%;
}

.navbar-default .nav li a:hover {
    color: black !important;
    cursor: pointer;
}

.quicklinks button:focus {
    outline: 0px;
}

/*------Sidebar------*/

.entryscapeSidebar {
    box-shadow: 1px 0px 2px -1px #999999;
    overflow-y: auto;
    padding: 0px 0px 0px 15px;
    height: 100%;
}

.entryscapeSidebar a {
    display: block;
    float: left;
    width: 100%;
    word-wrap: break-word;
    cursor: pointer;
    color: #808080;
}

.entryscapeSidebar a.selected {
    color: #555;
    cursor: default;
    color: black;
    background-color: #e1e1e1 !important;
}

.entryscapeSidebar a .fa {
    margin-top: 10px;
}

.entryscapeSidebar a > * {
    text-align: center;
}

.entryscapeSidebar a:hover {
    color: black;
    text-decoration: none;
}

.entryscapeViewList {
    border-top: 1px solid #ededed;
}

.entryscapeViewList a {
    color: #333;
    font-size: 14px;
}

.entryscapeViewList li {
    padding-top: 6px;
    margin-right: 20px;
    text-align: center;
}

.entryscapeViewList li.selected {
    border-top: 5px solid #1c7cd1;
}

.entryscapeViewList li.selected a {
    font-weight: bold;
}

.entryscapeViewList li.selected a:hover {
    color: initial;
}

.container-flow {
    overflow: hidden;
}

.sidebarMode #viewsNode {
    padding-left: 2px;
}

.container.body, .right_col, .right_col .contentContainer, .right_col .contentContainer > div.row {
    height: 100%;
}

.container-flow.sidebarMode #viewsNode {
    padding-right: 15px;
    padding-left: 3px;
}

/*---------Tabs and Crumbs----------*/

.spaControl.navbar-nav > li > a {
    line-height: 0px;
}

body .spaControl.navbar-nav {
    margin: -1px 0px 3px 0px;
}

body.spaTwoMenu .spaControl.navbar-nav {
    display: block;
}

.user-buttons .userTitle {
    padding-top: 16px;
}

.startBannerDetails {
    margin-top: 10px;
}

/***** FEZVRASTA OVERRIDES *****/
.body a {
    color: #333;
}

.body a:hover,
.body a:focus {
    color: #1c7cd1;
}

.body .btn.btn-raised.btn-default,
.body .input-group-btn .btn.btn-raised.btn-default,
.body .btn-group-raised .btn.btn-default,
.body .btn-group-raised .input-group-btn .btn.btn-default {
    background-color: #333;
    color: #fff;
}

.body .btn.btn-raised:not(.btn-link):hover.btn-default:hover,
.body .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-default:hover,
.body .btn-group-raised .input-group-btn .btn.btn-default:hover {
    background-color: rgba(51, 51, 51, 0.8);
}

.body .btn.btn-raised.btn-success,
.body .input-group-btn .btn.btn-raised.btn-success,
.body .btn-group-raised .btn.btn-success,
.body .btn-group-raised .input-group-btn .btn.btn-success {
    background-color: #1c7cd1;
    color: #fff;
}

.body .btn.btn-raised:not(.btn-link):hover.btn-success,
.body .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-success:hover,
.body .btn-group-raised .input-group-btn .btn.btn-success:hover {
    background-color: rgba(28, 124, 209, 0.8);
}

.body .pagination > li > a,
.body .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
}

.body .pagination > .active > a,
.body .pagination > .active > a:focus,
.body .pagination > .active > a:hover,
.body .pagination > .active > span,
.body .pagination > .active > span:focus,
.body .pagination > .active > span:hover {
    z-index: 3;
    color: black;
    cursor: default;
    background-color: #ededed;
    border-color: #333;
}

.form-group label.control-label {
    font-size: 16px !important;
}