<div class="container body">
    <div class="main_container" data-dojo-attach-point="containerNode">
        <div class="left_col" data-dojo-attach-point="mainMenuNode">
            <div class="scroll-view">
                <div class=" nav_title" style="border: 0;">
                    <a href="/" class="site_title" data-dojo-attach-point="home"></a>
                </div>

                <div class="clearfix"></div>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu" data-dojo-attach-point="menuListNode">
                        </ul>
                    </div>
                    <footer class="sidebar-footer" data-dojo-attach-point="sidebarFooter">
                        <a data-toggle="tooltip" data-placement="top" title="settingsTitle"
                           data-dojo-attach-point="nls,settingsButtonFooter"
                           data-original-title="Settings"
                           id="settings-footer">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title=""
                           data-original-title="FullScreen" data-dojo-attach-point="helpInfoFooter"
                           style="display: none">
                            <i class="fa fa-info" aria-hidden="true"></i>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="privacyPolicy"
                           data-original-title="Logout"
                           data-dojo-attach-point="nls,privacyPolicyButton">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                        <a style="display:none" data-toggle="tooltip"
                           data-placement="top" title="feedback"
                           data-dojo-attach-point="nls,feedback">
                            <i class="fa fa-comment" aria-hidden="true"></i>
                        </a>
                    </footer>
                </div>
                <!-- sidebar menu -->
            </div>
        </div>
        <div class="left_col" data-dojo-attach-point="privacyMenu" style="display: none">
            <div class="left_col scroll-view">
                <div class="main_menu_side hidden-print main_menu">
                    <footer class="sidebar-footer" data-dojo-attach-point="privacyFooter">
                        <a data-toggle="tooltip" data-placement="top" title=""
                           data-original-title="Logout"
                           data-dojo-attach-point="nls,privacyPolicyButton_footer">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </a>
                    </footer>
                </div>
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav right_side">
            <div class="nav_menu" data-dojo-attach-point="topNavNode">
                <nav>
                    <div class="row" style="margin-left: 0">
                        <div class="hidden-xs col-sm-10"
                             data-dojo-attach-point="allBreadcrumbs">
                            <ol class="nav navbar-nav breadcrumb spaBreadcrumbs"
                                data-dojo-attach-point="crumbListSingle" style="display:none">
                            </ol>
                            <ol class="nav navbar-nav breadcrumb spaBreadcrumbs"
                                data-dojo-attach-point="crumbList" style="display: none">
                            </ol>
                            <ul class="nav navbar-nav spaControl spaTabControl"
                                data-dojo-attach-point="tabListSingle"
                                style="display: none">

                            </ul>
                        </div>

                        <div class="col-xs-offset-8 col-sm-offset-0 col-xs-1">
                            <div class="firstrow">
                                <ul class="nav navbar-nav navbar-right"
                                    data-dojo-attach-point="userDetails">
                                    <li>
                                        <a class="user-profile dropdown-toggle"
                                           data-toggle="dropdown" aria-expanded="false"
                                           data-dojo-attach-point="userProfile">
                                            <span class="fa fa-user-circle"></span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                                            <li>
                                                <a class="text-center">
                                                    <span data-dojo-attach-point="userName"></span>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a data-dojo-attach-point="nls,settingsButton"
                                                   title="settingsTitle"><i
                                                    class="fa fa-user pull-right"></i>
                                                <span data-dojo-attach-point="nls">settingsLabel
                                                </span>
                                            </a>
                                            </li>
                                            <li data-dojo-attach-point="helpInfoDropdown"
                                                style="display:none">
                                                <a title="helpTitle"><i
                                                        class="fa fa-info pull-right"></i>
                                                    <span data-dojo-attach-point="nls">settingsHelp</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a data-dojo-attach-point="nls,signOutButton"
                                                   title="signOutTitle"><i
                                                        class="fa fa-sign-out pull-right"></i><span
                                                        data-dojo-attach-point="nls">signOutLabel</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right user-buttons "
                                    data-dojo-attach-point="guestDetails" style="display:none;">
                                    <li class="hidden">
                                        <a href="#page-top"></a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle lang-flags"
                                           data-toggle="dropdown" role="button"
                                           aria-expanded="false"><span class="flag-icon"
                                                                       data-dojo-attach-point="flagNode"></span>
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu"
                                            data-dojo-attach-point="langListNode">
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <ul class="nav navbar-nav spaControl spaTabControl"
                                data-dojo-attach-point="tabList" style="display: none">
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- top navigation -->

        <footer class="bottom_footer right_side">
            <div class="row">
                <div class="col-xs-10" data-dojo-attach-point="footerButtons"></div>
                <div class="col-xs-10">
                    <span class="copyright" data-dojo-attach-point="footerText"></span>
                </div>
            </div>
            <div class="pull-right bottom_logo">
                <div class="logo-text pull-right">
                    <a href="https://entryscape.com" target="_blank"
                       style="color: initial" data-dojo-attach-point="logoNodeFooter">
                        <!--<img data-dojo-attach-point="logoNodeFooter">-->
                        <!--<span data-dojo-attach-point="moduleNameFooter"></span>-->
                    </a>
                </div>
            </div>
        </footer>

        <div class="right_col right_side" role="main">
            <div data-dojo-attach-point="viewContainer" class="contentContainer">
                <div class="row row-centered">
                    <div class="col-md-12">
                        <ul data-dojo-attach-point="controllerViewList"
                            style="display: none" class="entryscapeViewList list-inline"></ul>
                    </div>
                    <section data-dojo-attach-point="viewsNode" class="col-md-12" id="viewsNode"
                             style="overflow-y: auto"></section>
                </div>
            </div>
            <div data-dojo-attach-point="settingsDialog"
                 data-dojo-type="entryscape-commons/nav/Settings"></div>
            <div data-dojo-attach-point="signinDialogNode"></div>
        </div>
        <div id="entryscapeDialogs"></div>
    </div>
</div>
