html {
    overflow-x: hidden;
}

body {
    color: #333;
    background-color: #F7F7F7 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}

.full-width {
    width: 100%;
}

.container {
    width: 100%;
    padding: 0
}

.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%
}

.nav-md .main_container {
    min-height: 100%;
    height: 100%;
}

.menu_section {
    margin-bottom: 35px
}

.menu_section h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000
}

.menu_section > ul {
    margin-top: 8px
}

.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA
}

.active a span.fa {
    text-align: right !important;
    margin-right: 4px
}

.nav_menu {
    float: left;
    width: 100%;
    position: relative
}

@media (min-width: 480px) {
    .nav_menu {
        position: static
    }
}

@media (max-width: 480px) {
    .nav-md .container.body .left_col {
        width: 16%;
    }

    .right_col {
        width: 85%;
    }

    /* @scazan: Small hack for mobile language chooser*/
    .nav_menu .col-xs-1 {
      z-index: 888;
    }
}

.nav-md .container.body .left_col {
    min-height: 100%;
    width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}

.nav-md .container.body .left_col.menu_fixed {
    height: 100%;
    position: fixed
}

.nav-md .container.body .right_col {
    position: absolute;
    bottom: 40px;
    top: 58px;
    padding: 10px 20px 0;
    height: 80%;
    right: 0;
}

.nav_title {
    width: 100%;
    float: left;
    border-radius: 0;
    height: 57px
}

.nav-md .nav.side-menu li a span.menu-title {
    font-size: 18px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px;
    margin-left: 10px;
}

.user-profile span {
    font-size: 30px;
    color: #e1884a;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    footer.sidebar-footer {
        width: 60px;
        position: fixed;
    }
}


.scroll-view {
    width: 100%;
}

@media (max-width: 991px) {
    .nav-md .container.body .right_col,
    .nav-md .container.body .top_nav {
        width: 85%;
        margin: 0;
    }

    .nav-md .container.body .left_col,
    .nav-md .container.body .left_col .nav_title {
        width: 60px;
    }

    .nav-md .container.body .left_col .scroll-view {
        position: relative;
        width: 60px;
    }

    .nav-md .container.body .left_col .scroll-view .menu-title {
        display: none;
    }

    .nav-md .container.body .right_col {
        width: 85%;
        padding-right: 0
    }

    .right_col {
        padding: 10px !important
    }

    .nav-md .container.body .logo-text span {
        display: none;
    }

    footer.sidebar-footer {
        width: 60px;
        position: absolute;
    }

    footer.sidebar-footer a {
        padding: 5px;
        color: #333;
    }

    #settings-footer {
        display: none;
    }
}

@media (max-width: 1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px
    }

    .tile,
    .graph {
        zoom: 85%;
        height: inherit
    }
}

@media (max-width: 1270px) and (min-width: 192px) {
    .x_title h2 small {
        display: none
    }
}

.left_col .mCSB_scrollTools {
    width: 6px
}

.left_col .mCSB_dragger {
    max-height: 400px !important
}

.navbar-nav > li > a,
.navbar-brand,
.navbar-nav > li > a {
    color: #fff;
}

.top_nav .nav > li > a:focus,
.top_nav .nav > li > a:hover,
.top_nav .nav .open > a,
.top_nav .nav .open > a:focus,
.top_nav .nav .open > a:hover {
    background: #D9DEE4
}


@media (max-width: 991px) {
    div.right_side, footer.right_side {
        left: 80px;
    }
}

@media (min-width: 992px) {
    div.right_side, footer.right_side {
        left: 22%;
    }
}

@media (min-width: 1201px) {
    div.right_side, footer.right_side {
        left: 19%;
    }
}

@media (min-width: 1501px) {
    div.right_side, footer.right_side {
        left: 16%;
    }
}

@media (min-width: 1801px) {
    div.right_side, footer.right_side {
        left: 13%;
    }
}


.main_container .top_nav {
    display: block;
    position: absolute;

    right: 0;
    top: 0;
}

.main_container .bottom_footer {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    z-index: 999;
    background: #F7F7F7;
    height: 40px;
}

.main_container .bottom_footer .bottom_logo {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 3px;
}

.main_container .bottom_footer .row {
    margin: 0;
}

.no-padding {
    padding: 0 !important
}

.page-title {
    width: 100%;
    height: 65px;
    padding: 10px 0
}

.page-title .title_left {
    width: 45%;
    float: left;
    display: block
}

.page-title .title_left h3 {
    margin: 9px 0
}

.page-title .title_right {
    width: 55%;
    float: left;
    display: block
}

.page-title .title_right .pull-right {
    margin: 10px 0
}

.fixed_height_320 {
    height: 320px
}

.fixed_height_390 {
    height: 390px
}

.fixed_height_200 {
    height: 200px
}

.overflow_hidden {
    overflow: hidden
}

.progress-bar-dark {
    background-color: #34495E !important
}

.progress-bar-gray {
    background-color: #BDC3C7 !important
}

table.no-margin .progress {
    margin-bottom: 0
}

.main_content {
    padding: 10px 20px
}

@media (min-width: 192px) and (max-width: 1270px) {
    table.tile_info span.right {
        margin-right: 7px;
        float: left
    }
}

.center-margin {
    margin: 0 auto;
    float: none !important
}

.navbar-header {
    background: #999;
}

.navbar-right {
    margin-right: 0
}

.top_nav .navbar-right {
    margin: 0;
}

.top_nav .navbar-right li {
    display: inline-block;
    position: static
}

.top_nav .dropdown-menu li {
    width: 100%
}

.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px;
    cursor: pointer;
}

.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    color: #1c7cd1;
}

@media (max-width: 767px) {
    .top_nav .open ul.dropdown-menu.dropdown-usermenu {
        background-color: white;
        position: absolute;
    }
}

.top_nav li a i {
    font-size: 15px
}

.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%
}

.sidebar-header {
    border-bottom: 0;
    margin-top: 46px
}

.sidebar-header:first-of-type {
    margin-top: 0
}

.nav.side-menu > li {
    position: relative;
    display: block;
    cursor: pointer
}

.nav.side-menu > li > a {
    margin-bottom: 6px;
    color: #333;
}

.nav.side-menu > li > a:hover {
    color: #337ab7;
}

.nav.side-menu > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background: transparent
}

.nav.child_menu {
    display: none
}

.nav.child_menu li:hover,
.nav.child_menu li.active {
    background-color: rgba(255, 255, 255, 0.06)
}

.nav.child_menu li {
    padding-left: 36px
}

.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}

.nav-md ul.nav.child_menu li:last-child::after {
    bottom: 50%;
}

.nav.side-menu > li > a,
.nav.child_menu > li > a {
    color: #333;
}

.nav.child_menu li li:hover,
.nav.child_menu li li.active {
    background: none
}

.nav.child_menu li li a:hover,
.nav.child_menu li li a.active {
    color: #fff
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 13px 15px 12px
}

.nav.side-menu > li.current-page,
.nav.side-menu > li.active {
    border-right: 5px solid #1c7cd1;
}

.nav li.current-page {
    background: rgba(255, 255, 255, 0.05)
}

.nav li li li.current-page {
    background: none
}

.nav li li.current-page a {
    color: #FFF;
}

.nav.side-menu > li.active > a {
    background: #FFF;
    color: #333;
    font-weight: bold;
}

.navbar-brand,
.navbar-nav > li > a {
    font-weight: 500;
    margin-left: 0 !important;
    line-height: 32px
}

.navbar-nav li.signin-button > a.btn {
    background: #e1884a !important;
    color: white !important;
    padding: 10px 15px !important;
    font-size: 14px !important;
}

.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    color: #ECF0F1 !important;
    margin-left: 0 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px
}

.site_title:hover,
.site_title:focus {
    text-decoration: none
}

.nav.navbar-nav > li > a {
    color: #515356;
    cursor: pointer;
}

.dropdown-usermenu .dropdown-header {
    font-size: 14px;
}

.nav.top_menu > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #34495E;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent
}

.main_menu_side {
    padding: 0
}

.sidebar-footer {
    bottom: 0;
    clear: both;
    display: block;
    padding-top: 5px;
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 999;
}

.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: transparent;
    cursor: pointer;
    color: #999;
}

.sidebar-footer a:hover {
    color: #333;
}

.fontawesome-icon-list .fa-hover a:hover {
    background-color: #ddd;
    color: #fff;
    text-decoration: none
}

.fontawesome-icon-list .fa-hover a {
    display: block;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    border-radius: 4px
}

.fontawesome-icon-list .fa-hover a:hover .fa {
    font-size: 28px;
    vertical-align: -6px
}

.fontawesome-icon-list .fa-hover a .fa {
    width: 32px;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    margin-right: 10px
}

.main_menu .fa {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.main_menu .label {
    line-height: 11px;
    margin-top: 4px;
}

.bottom_footer_button {
    margin: 0px;
    padding: 5px !important;
    background: transparent !important;
}

.nav.spaBreadcrumbs.breadcrumb {
    margin: 13px 0px 0px 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #777777;
}

.spaTwoMenu .nav.spaBreadcrumbs.breadcrumb {
    float: left;
    margin-top: 5px;
    padding-top: 5px;
    background-color: inherit;
}

.spaTwoMenu .nav.spaBreadcrumbs.breadcrumb a {
    line-height: initial;
    color: #777777;
}

.spaTwoMenu .nav.spaBreadcrumbs.breadcrumb.navbar-nav > li {
    float: initial;
}

@media (min-width: 768px) {
    body.spaTwoMenu .spaControl.navbar-nav,
    body.spaTwoMenu .spaBreadcrumbs.breadcrumb {
        margin-left: 210px;
        margin-top: 3px;
        margin-bottom: 8px;
    }
}

.spaBreadcrumbs.breadcrumb > li > * {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 0;
    color: #777777;
    height: 32px;
}

.spaBreadcrumbs.breadcrumb > li > a:hover {
    color: black;
    text-decoration: none;
    background-color: #e1e1e1;
}

.spaBreadcrumbs.breadcrumb > .active > span {
    color: black;
    background-color: #e1e1e1 !important;
}

.spaBreadcrumbs.breadcrumb > .crumbPath > span {
    cursor: default;
}

.btn-group.btn-group-justified button,
.btn-group.btn-group-justified a {
    width: 100%;
}
