<form data-dojo-attach-point="pwResetForm" onsubmit="return false;">
    <div class="form-group">
        <label for="${id}-pwrUsername" data-dojo-attach-point="nls" class="control-label">resetPasswordEmail</label>
        <input id="${id}-pwrUsername" type="email" class="form-control" data-dojo-attach-point="nls,pwrUsername" placeholder="resetPasswordEmailPlaceholder" required>
        <div class="text-danger" role="alert" style="display:none"
             data-dojo-attach-point="emailStatus"></div>
    </div>
    <div data-dojo-attach-point="passwordFormNode"></div>
    <div class="form-group">
        <div data-dojo-attach-point="recaptcha"></div>
    </div>
</form>
