<div class="row">
    <div class="col-md-offset-3 col-md-6" style="margin-top: 10%;">
        <div class="panel panel-default">
            <div class="panel-heading" data-dojo-attach-point="nls">permissionHeader</div>
            <div class="panel-body">
                <p data-dojo-attach-point="nls,__signinLink">permissionBody</p>
                <a href="javascript:void(0)"
                   class="btn btn-raised btn-sm btn-success ${bid}__signinLink"
                   data-dojo-attach-point="nls,__signinLink">permissionSignin</a>
            </div>
        </div>
    </div>
</div>