<div class = "dropdown esco-dropdown">
        <button id="${id}_title" type="button" class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                data-dojo-attach-point="dropdownButtonNode"><i class="fa fa-cog"></i>
        </button>
        <ul class="dropdown-menu" align="left" data-dojo-attach-point="dropdownMenuNode" aria-labelledby="${id}_title">
        </ul>
</div>
